<head>
  {% load sheet_extras %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "char_sheet/sheet.css" %}">
</head>

<div name=name>{{ character.name }}</div><div name=level>{{ character.level }}</div>
<div name=discription>alignment gender race class</div><div name=xp>{{ character.xp }}</div>
</hr>

<table>
  <th colspan=2>Abilities</th>
  <tr><td>Score</td><td>Mod</td></tr>
  <tr><td>Str: {{ character.strength }}     </td><td>{{ character.strength_mod }}</td></tr>
  <tr><td>Con: {{ character.constitution }} </td><td>{{ character.constitution_mod }} </td></tr>
  <tr><td>Dex: {{ character.dexterity }}    </td><td>{{ character.dexterity_mod }} </td></tr>
  <tr><td>Int: {{ character.intelligence }} </td><td>{{ character.intelligence_mod }} </td></tr>
  <tr><td>Wis: {{ character.wisdom }}       </td><td>{{ character.wisdom_mod }}</td></tr>
  <tr><td>Cha: {{ character.charisma }}     </td><td>{{ character.charisma_mod }}</td></tr>
</table></br>

<table name="defenses">
  <th colspan=2>Defenses</th>
  <tr><td>AC:   </td><td>{{ character.ac }}</td></tr>
  <tr><td>Fort: </td><td>{{ character.fortitude }}</td></tr>
  <tr><td>Ref:  </td><td>{{ character.reflex }}</td></tr>
  <tr><td>Will: </td><td>{{ character.will }}</td></tr>
</table></br>

<table>
  <th colspan=2>Skills</th>
  <tr><td>Acrobatics:   </td><td>{{ character.acrobatics }}</td></tr>
  <tr><td>Arcana:       </td><td>{{ character.arcana }}</td></tr>
  <tr><td>Athletics:    </td><td>{{ character.athletics }}</td></tr>
  <tr><td>Bluff:        </td><td>{{ character.bluff }}</td></tr>
  <tr><td>Diplomacy:    </td><td>{{ character.diplomacy }}</td></tr>
  <tr><td>Dungeoneering:</td><td>{{ character.dungeoneering }}</td></tr>
  <tr><td>Endurance:    </td><td>{{ character.endurance }}</td></tr>
  <tr><td>Heal:         </td><td>{{ character.heal }}</td></tr>
  <tr><td>History:      </td><td>{{ character.history }}</td></tr>
  <tr><td>Insight:      </td><td>{{ character.insight }}</td></tr>
  <tr><td>Intimidate:   </td><td>{{ character.intimidate }}</td></tr>
  <tr><td>Nature:       </td><td>{{ character.nature }}</td></tr>
  <tr><td>Perception:   </td><td>{{ character.perception }}</td></tr>
  <tr><td>Religion:     </td><td>{{ character.religion }}</td></tr>
  <tr><td>Stealth:      </td><td>{{ character.stealth }}</td></tr>
  <tr><td>Streetwise:   </td><td>{{ character.streetwise }}</td></tr>
  <tr><td>thievery:     </td><td>{{ character.thievery }}</td></tr>
</table></br>

Combat Statistics and Skills
<table>
  <tr><td>Initiative:         </td><td>{{ character.initiative }}</td></tr>
  <tr><td>Passive Insight:    </td><td>{{ character.passive_insight }}</td></tr>
  <tr><td>Passive Perception: </td><td>{{ character.passive_perception }}</td></tr>
  <tr><td>Speed:              </td><td>{{ character.speed }}</td></tr>
</table></br>

{% for power in character.powers %}
<div class="{{ power.0|get:'Power Usage' }}">
  <div class="{{ power.0|get:'Power Usage' }}_Title">
    <b>{{ power.0.name }}</b>&#9830;<b>{{ power.0|get:'Action Type' }}</b>
  </div>
  {% if power|length > 1%}
  <div class="Weapon">{{ power.1.name }}:&nbsp; +{{ power.1.AttackBonus}} vs. {{ power.1.Defense }},&nbsp; {{ power.1.Damage }}&nbsp; damage</div>
  {% endif %}
  <i>{{ power.0.Keywords }}</i></br>
  <div class="Attack_type">{{ power.0|get:"Attack Type" }}</div><div class="Target"><b>Target:</b> {{ power.0.Target }}</div>
</div>
{% endfor %}
